@media screen and (width <= 500px) {
    #reviews {
        display: none;
    }
}
@media (width > 500px) {
    #reviews {
    display: block;
    }
}

body {
    background-color: lavender;
    font-family: monospace;
}

header {
    background: skyblue;
    display: flex;
    height: auto;
    /* width: 75%; */
}

header h1 {
    display: inline;
    margin: 0 0 0 70%;
}

header img{
    height: 100%;
    width: 15%;
}





