@media screen and (width <= 500px) {
    #reviews {
        display: none;
    }
}

body {
    background-color: lavender;
    font-family: monospace;
}

header {
    background: skyblue;
    height: auto;
    /* width: 75%; */
}

header img{
    height: 100%;
    width: auto;
}


@media (width > 500px) {
    #reviews {
    display: block;
    }
}


